body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(to bottom, rgb(229, 158, 240), rgb(174, 234, 190));
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*button style*/
.buttons-container {

    height: 200px;
    ;
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding-top: 20px;
}

.help-btn {
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    border: 3px solid purple;
    background: none;
    cursor: pointer;
    animation: breath 4s infinite;
}

/*key frames*/
@keyframes breath {

    0% {
        opacity: 1;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}
.help-btn-click {
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    border: 3px solid purple;
    background-color: purple;
    cursor: none;
    color: white;
}

.help-btn3 {
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    border: 3px solid purple;
    background: none;
    cursor: pointer;
}

/*message style*/
.msg {
    display: none;
    /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent background */
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* Ensure it appears in front */
}

.msg-content {
    background: linear-gradient(to bottom, rgb(229, 158, 240), rgb(174, 234, 190));
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    font-size: 20px;
}

#msgBtn {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #4dca31;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

#msgBtn:hover {
    background-color: #8f0b8f;
}

/* Bucket Styles */
.bucket {
    position: absolute;
    top: 55%;
    left: 350px;
    transform: translateY(-50%);
    width: 300px;
    height: 300px;
    border: 5px solid #06a826;
    border-top: none;
    border-radius: 10px;
    
}

.water {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0;
    background: linear-gradient(to top, #3498db, #5dade2);
    transition: height 0.5s ease-in-out;
    opacity: .8;
}



.hint {
    position: absolute;
    margin-top: 350px;
    margin-left: 20px;
    font-size: 30px;
    width: 200px;
    text-align: center;
    animation: breath 4s infinite;

}

/* Word Styles */
.word {
    display: flex;
    margin-left: 57%;
    margin-top: 120px;
    position: absolute;
}

.word-letter {
    margin-left: 20px;
    border-bottom: 1px solid grey;
    width: 50px;
    height: 40px;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
}

/* Letter Styles */
.letters-container {
    margin-top: 240px;
    margin-left: 60%;
    text-align: center;
    font-size: 20px;
    position: absolute;
}

.letter {
    width: 50px;
    height: 50px;
    border: 1px solid grey;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.line-1,
.line-2,
.line-3,
.line-4,
.line-5 {
    display: flex;
}

.line-1 .letter,
.line-3 .letter,
.line-5 .letter {
    background-color: rgba(153, 43, 153, 0.6);
    border-radius: 100px;
}

.line-2 .letter,
.line-4 .letter {
    background-color: rgba(39, 189, 76, 0.6);
    border-radius: 100px;
}

.line-5 {
    justify-content: center;
}

/* Timer Styling */
.timer {
    position: fixed;
    top: 20px;
    left: 93%;
    font-size: 30px;
    font-weight: bold;
    background-color: rgba(173, 242, 173, .7);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 1000;
}

.timer.red {
    background-color: red;
}

/*win counter*/
.wins-counter {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(137, 42, 161);
    padding: 10px;
    border-radius: 5px;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}
